.editor-container {
	height: 50%;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 0%;
	width: 100%;
}
.editor {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: .75rem;
	padding-right: 0;
	width: 100%;
}
.editor-header {
	align-items: center;
	border-bottom: solid 1px rgb(252, 77, 53);
	color: rgb(252, 77, 53);
	display: flex;
	flex-direction: row;
	height: 15%;
}
.editor-title {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	width: 40%;
}
.button-container {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	width: 60%;
}
.editor-button {
	@include fluid-type(padding-left, 300px, 1200px, 4px, 24px);

	align-items: center;
	background-color: transparent;
	border: none;
	color: rgb(252, 77, 53);
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;

	.button-label {
		padding-left: 5px;
	}
}
.editor-body {
	@include fluid-type(font-size, 300px, 1200px, 10px, 14px);
	@include fluid-type(padding, 300px, 1200px, 6px, 16px);

	background: none;
	color: rgb(104, 157, 179);
	height: 85%;
	width: 100%;
}
textarea {
	border: none;
	resize: none;
}
@media only screen and (max-width: 600px) {
	.editor-title {
		font-size: .9rem;
	}
	.editor-button {
		font-size: .65rem;
	}
}
@media only screen and (orientation: landscape) {
	.editor-container {
		height: 95%;
		padding: 20px 0 0 20px;
		width: 50%;
	}
	.editor {
		border-right: solid 2px black;
		padding-bottom: 0;
		padding-right: .75rem;
	}
	.editor-header {
		height: 10%;
	}
	.editor-title {
		font-size: 1.1rem;
	}
	.editor-button {
		font-size: .7rem;
	}
	.editor-body {
		height: 90%;
	}
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
	.editor-title {
		font-size: .9rem;
	}
	.editor-button {
		font-size: .7rem;
	}
	// Hide button labels to fit in narrow landscape view
	.button-label {
		display: none;
	}
}
@media only screen and (min-width: 1200px) {
	.editor-button {
		font-size: .9rem;
	}
}
