.editor-container {
	height: 50%;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 0%;
	width: 100%;
}
.editor {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: .75rem;
	padding-right: 0;
	width: 100%;
}
.editor-header {
	border-bottom: solid 1px rgb(252, 77, 53);
	color: rgb(252, 77, 53);
	display: flex;
	font-size: 2rem;
	height: 15%;
	flex-direction: row;
	align-items: center;
}
.button-container {
	position: absolute;
	right: 8%;
}
.editor-button {
	@include fluid-type(padding-left, 300px, 1200px, 4px, 24px);

	background-color: transparent;
	border: none;
	color: rgb(252, 77, 53);
	font-size: 1.1rem;
}
.editor-body {
	@include fluid-type(font-size, 300px, 1200px, 10px, 14px);
	@include fluid-type(padding, 300px, 1200px, 6px, 16px);
	background: none;
	color: rgb(104, 157, 179);
	// font-size: 1em;
	height: 85%;
	width: 100%;
}
textarea {
	border: none;
	resize: none;
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
	.editor-header {
		font-size: 1rem;
	}
	.editor-button {
		font-size: .4rem;
	}
	// Hide button labels to fit in narrow landscape view
	.button-label {
		display: none;
	}
}
@media only screen and (max-width: 600px) {
	.editor-header {
		font-size: 1.2rem;
	}
	.editor-button {
		font-size: .6rem;
	}
}
@media only screen and (orientation: landscape) {
	.editor-container {
		height: 95%;
		padding: 20px 0 0 20px;
		width: 50%;
	}
	.editor {
		border-right: solid 2px black;
		padding-bottom: 0;
		padding-right: .75rem;
	}
	.editor-header {
		font-size: 1.3rem;
		height: 10%;
	}
	.editor-button {
		font-size: .8rem;
	}
	.editor-body {
		height: 90%;
	}
}
