.preview-wrapper {
	height: 50vh;
	position: absolute;
	top: 50%;
	width: 100%;
}
.preview-header {
	background: $preview-header;
	color: $preview-header-text;
}
.preview-body {
	background: $preview-bg;
	color: $preview-bg-text;
	height: 100%;
	width: 100%;
}
@media screen and (orientation: landscape) {
	.preview-wrapper {
		height: 100vh;
		left: 50%;
		position: absolute;
		top: 0;
		width: 50%;
	}
}
