.preview-container {
	background: $preview-bg;
	color: $preview-bg-text;
	height: 1000px;
	padding: $box-padding;
	min-width: $width-fixed;
	max-width: $width-fixed;
}
.preview-header {
	background: $preview-header;
	color: $preview-header-text;
	margin-top: $top-margin;
	padding: 10px 16px;
}
