body,
div,
h1,
h3,
textarea {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.main-container {
	background-color: $main-bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-item {
	margin: auto;
}
.arrow-div {
	text-align: center;
}
.arrow-icon {
	color: $arrow;
	font-size: 2.5rem;
	margin-top: 10px;
}
