body,
div,
h1,
h3,
textarea {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Mixins
------------------------------------ */
//Fluid-type Mixin based on https://github.com/robertraichle/fluid-type-mixin
//$min-vw & $max-vw are width values (in pixels), not actual vw unit values - essentially break points
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	@each $property in $properties {
		#{$property}: $min-value;
	}

	@media screen and (min-width: $min-vw) {
		@each $property in $properties {
			#{$property}: calc(
				#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit(
						$max-vw - $min-vw
					)}
			);
		}
	}

	@media screen and (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value;
		}
	}
}
.app-container {
	background-color: white;
	display: block;
	height: 100vh;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0%);
	width: 100%;
	max-width: 1200px;
}
.title-container {
	display: flex;
	height: 8%;
	align-items: center;
	padding: 2rem 1rem 1rem 1rem;
	h1 {
		@include fluid-type(font-size, 300px, 1200px, 32px, 38px);
		color: black;
		font-family: 'Quicksand', Helvetica, sans-serif;
	}
	.app-logo {
		font-size: 4rem;
		padding: 0 .5em 0 .25em;
	}
}
.components-container {
	height: 92%;
	position: relative;
	width: 100%;
}
.header-icon {
	padding: 0 .75em 0 .75em;
}
@media screen and (max-width: 600px) {
	.title-container {
		h1 {
			@include fluid-type(font-size, 300px, 600px, 12px, 18px);
		}
		.app-logo {
			font-size: 2.8rem;
		}
	}
}
@media screen and (orientation: landscape) {
	.title-container {
		h1 {
			@include fluid-type(font-size, 300px, 1200px, 18px, 30px);
		}
		.app-logo {
			font-size: 3rem;
		}
		height: 14%;
	}
	.components-container {
		height: 86%;
	}
}
