// Colors:
$blue: #5680e9;
$light-blue: #84ceeb;
$aqua: #5ab9ea;
$gray: #cdd2e4;
$purple: #804edc;
$dark-purple: #a680d5;
$near-black: rgb(41, 41, 41);
$near-white: rgb(229, 234, 247);

// Layout:
$box-padding: 20px;
$top-margin: 20px;
$width-fixed: 600px;
