$main-header: #29434e;
$main-header-border: white;
$main-header-text: rgb(225, 226, 225);
$main-bg: rgb(96, 125, 139);
$main-bg-text: white;
$editor-header: rgb(142, 172, 187);
$editor-header-text: black;
$editor-bg: rgb(225, 226, 225);
$editor-bg-text: black;
$preview-header: #2e7d32;
$preview-header-text: black;
$preview-bg: rgb(245, 245, 246);
$preview-bg-text: black;
$arrow: white;

// Colors:
$blue: #5680e9;
$light-blue: #84ceeb;
$aqua: #5ab9ea;
$gray: #cdd2e4;
$purple: #804edc;
$dark-purple: #a680d5;
$near-black: rgb(41, 41, 41);
$near-white: rgb(229, 234, 247);

// Layout:
$box-padding: 20px;
$top-margin: 20px;
$width-fixed: 600px;
